[Unit]
Description="SRP-WQM"
After=network.target
Wants=network.target

[Service]
User=root
Environment=PYTHONPATH=/home/maxuser/.local/lib/python3.6/site-packages
WorkingDirectory=/home/maxuser/Desktop/SRp/SRP_WQM
ExecStart=/usr/bin/python3.6 /home/maxuser/Desktop/SRp/SRP_WQM/finealcode.py

[Install]
WantedBy=multi-user.target
